/* VARIABLES */

$color-primary-light: #7ed56f;
$color-primary-medium: #55c57a;
$color-primary-dark: #28b485;

$color-gray: #777;
$color-white: #fff;
$color-black: #000;
 
*,
*::after,
*::before  {
    margin: 0; 
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color:$color-gray;
    padding: 2rem;
    box-sizing: border-box;
}

.header{
    height: 90vh;
    background-image: linear-gradient(
        to right, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
    url(../img/hero.jpg);
    background-color:$color-primary-medium;
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* zie ook path-clip maker: bennettfeely.com/clippy */
    &__logo-box{
        position: absolute; /*header daarom relative!*/
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 3.5rem;
    }
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.heading-primary{
    color : $color-white;
    text-transform: uppercase;
    
    backface-visibility: hidden; /* hack om trilling in aniematie tegen te geen, die ik niet zie overigens */
    margin-bottom: 6rem;
    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInLeft 1s ease-out;
    }
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.7rem;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /*
            animation-delay : 3s;
            animation-iterration-count: 3;
            EN NOG MEER MOGELIJK
        */
    }   
}

@keyframes moveInLeft {
    0%{
       opacity: 0; 
       transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0)
    }
/* Rotation is ook mogelijk! */
/* &keyframes ook mogelijk met hover */
}
@keyframes moveInRight {
    0%{
       opacity: 0; 
       transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0)
    }

}
@keyframes moveInBottom {
    0%{
       opacity: 0; 
       transform: translatey(5rem);
    }
    
    100%{
        opacity: 1;
        transform: translateY(0)
    }

}

.btn {
    &:link, &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s; /* In de init state moet ook transition!; zie W3schools*/
        position: relative;
        /* font-size: 1.6rem; */
    }
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black,.2); /* left (-)/right(+) bottom (+)/top (-),blur, color */   
        &::after{
            /* transform: scale(1.4); */
            transform: scaleX(1.4) scaleY(1.6);
            opacity : 0;
        }
    }
    &:active{
        transform: translate(-.1rem); /*related to link state, not hover state */
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    &--white{
        background-color: $color-white;
        color: $color-gray;  
        &::after {
            background-color: $color-white;
        }
    } 
    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 20rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .5s; 
    }
     /*button verschijnt van onderaf bij vernieuwing pagina*/
    &--animated {
        animation: moveInBottom .5s ease-Out .75s;
        animation-fill-mode: backwards;
    
    } 
}