.navigation {

    &__checkbox{
        display: none;
    }

    &__button{
        background-color: $color-white;
        color: red;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        text-align: center;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        cursor: pointer;
    }

    &__background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        //background-color: red;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark) ;
        z-index: 1000;
        //transform: scale(100);

        // CUBIC-BEZIER zie: https://cubic-bezier.com en https://easings.ne
        transition: transform .5s cubic-bezier(.1,0,.61,1);
    }

    &__nav{
        height: 100vh;
        //width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        // CUBIC-BEZIER zie: https://cubic-bezier.com en https://easings.ne
        transition: all .5s cubic-bezier(.96,-0.4,.17,1.44);
    }

    &__list{
        @include center-both();
        list-style: none;
        text-align: center;

        //width: 100%;
    }

    &__item{
        margin: 1rem;
    }

    &__link{
        &:link,
        &:visited {
            display:inline-block;
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            padding: 1rem 2rem;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50% , white 50%);
            background-size: 220%; //+20% vanwege 120deg gradient
            transition: all .4s;
            
            span{
                display: inline-block;
                margin-right: 1.5rem;
            }
        }  

        &:hover,
        &:active{
            background-position: 100%;
            color: $color-primary-dark;
            transform: translateX(1rem);
        }      
    }


    //ICON
    &__icon{
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after{
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;    
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
            //transform-origin: center; //alternatief voor waar de transform begint
        }
        &::after {
            top: .8rem;
            //transform-origin: center;
        }
    }

    &__button:hover &__icon::before{
        top: -1rem;
    }
    &__button:hover &__icon::after{
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon{
        //background-color: red;
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        //background-color: lime;
        top: 0;
        //transform: rotate(45deg);
        transform: rotate(135deg);
    }
    &__checkbox:checked + &__button &__icon::after {
        //background-color: rgb(167, 28, 209) ;
        top: 0;
        //transform: rotate(-45deg);
        transform: rotate(-135deg);
    }

    &__checkbox:checked ~&__background {
        transform: scale(100);
    }

    &__checkbox:checked ~&__nav {
        opacity: 1;
        width: 100%;
    }
}