.btn {
    &:link, &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s; /* In de init state moet ook transition!; zie W3schools*/
        position: relative;
        font-size: $default-font-size;
    }
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black,.2); /* left (-)/right(+) bottom (+)/top (-),blur, color */   
        &::after{
            /* transform: scale(1.4); */
            transform: scaleX(1.4) scaleY(1.6);
            opacity : 0;
        }
    }
    &:active{
        transform: translate(-.1rem); /*related to link state, not hover state */
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    &--white{
        background-color: $color-white;
        color: $color-grey-dark;  
        &::after {
            background-color: $color-white;
        }
    }

    &--green{
        background-color: $color-primary-dark;
        color: $color-white;  
        &::after {
            background-color: $color-white;
        }
    } 
    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 20rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .5s; 
    }
     /*button verschijnt van onderaf bij vernieuwing pagina*/
    &--animated {
        animation: moveInBottom .5s ease-Out .75s;
        animation-fill-mode: backwards;
    
    } 
}

.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-primary-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary-dark;
        padding: .3rem;
        transition: all 0.2s;
    }
    &:hover{
        background-color: $color-primary-dark;
        color: $color-white;
        box-shadow: 1rem 1rem 1rem rgba($color-black,.25);
        transform: translateY(-0.2rem)

    }
    &:active{
        box-shadow: .5rem .5rem 1rem rgba($color-black,.25);
        transform: translateY(0)
    }
}