body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color:$color-gray;
    padding: 2rem;
}

.heading-primary{
    color : $color-white;
    text-transform: uppercase;
    
    backface-visibility: hidden; /* hack om trilling in aniematie tegen te geen, die ik niet zie overigens */
    margin-bottom: 6rem;
    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInLeft 1s ease-out;
    }
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.7rem;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /*
            animation-delay : 3s;
            animation-iterration-count: 3;
            EN NOG MEER MOGELIJK
        */
    }   
}
