body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color:$color-grey-dark;
    padding: 2rem;
}

.heading-primary{
    color : $color-white;
    text-transform: uppercase;
    
    backface-visibility: hidden; /* hack om trilling in aniematie tegen te geen, die ik niet zie overigens */
    margin-bottom: 6rem;
    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInLeft 1s ease-out;
    }
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.7rem;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /*
            animation-delay : 3s;
            animation-iterration-count: 3;
            EN NOG MEER MOGELIJK
        */
    }   
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text; //nog experimenteel
    color: transparent;
    transition: all .2s;
    letter-spacing: .2rem;
    &:hover{
        transform: skewY(-2deg) skewX(5deg) scale(1.1);
        text-shadow: .1rem 1rem 1rem rgba($color-black, 20%)
    }
}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: $default-font-size;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}