html, body{
    font-size: 18px;
    width: 60vw;
    background-color: yellow;
}

header {
    font-size: 150%;
    padding: 2em;
    margin-bottom: 10rem;
    height: 60vh;
    width: 500px;
    background-color: lime;
    border:  solid #000;

}
.header-child{
    font-size: 3em;
    padding: 10%;
    background-color: white;
}
div{
    color: #00f;
}